body {
    font-family: Arial;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    width: 220px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

button {
    background: #007BFF;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: pink;
    color: black;
}

